/*RESET START*/
*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    color: #111;
    font: 12px/1 'Harmonia_regular', sans-serif;
    background-color: #f4f6f8;
}
/*General reset*/
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
img{
    max-width: 100%;
}
a{
    color: #000;
}


 a:focus , a:hover {
    color: #ff5912;
    text-decoration: none;

}

ul{
    margin: 0;
    list-style: none;
    padding: 0;
}
li{
    list-style-type: none;
}
input, select, textarea{
    outline:none;
    border:none;
}
textarea{
    resize:vertical
}
button{
    cursor:pointer;
}
label{
    margin-bottom: 0;
}

.btn{
    outline: none;
}
/*RESET END*/

/*DEFAULT CLASSES START*/

.flex-container{

    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex;
}

.align-center{

    -webkit-box-align: center;

    -webkit-align-items: center;

        -ms-flex-align: center;

            align-items: center;
}

.justify-sp-bw{
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.orange-text{
    color: #ff5912;
}

.red-bg{
    background-color: red;
}

.black-bg{
    background-color: #000;
}

.blue-bg{
    background-color: blue;
}

.green-bg{
    background-color: green;
}

.white-bg{
    background-color: #fff;
}

.light-orang-bg{
    background-color: #ff9060;
}

.orange-bg{
    background-color: #ff5912;
}

.btn-radius{
    -webkit-border-radius: 50px;
            border-radius: 50px;
}

/*DEFAULT CLASSES END*/

/*DEFAULT COMPONENT START*/


.custom-icon{
    display: inline-block;
}

.title{
    text-transform: uppercase;
    font-family: 'Harmonia_black';
    font-size: 36px;
    margin-bottom: 25px;
}

.title.big{
    font-size: 52px;
}
.user-nav .custom-icon {
    position: relative;
}

.product-title{
    font-family: 'Harmonia_semibold';
    font-size: 18px;
}

.sub-title{
    display: block;
    font-size: 16px;
    color: #495662;
    margin-bottom: 80px;
}


.basket-count{
    display: inline-block;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #000;
    color: #fff;
    position: absolute;
    top: -17px;
    left: 4px;
    text-align: center;
    line-height: 1.5;
}

.default-section{
    padding: 60px 0;
}



.checkbox-group input[type=checkbox]{
    display: none;
}

.checkbox-group label{
    font-size: 16px;
    color: #34404b;
    cursor: pointer;
}

.checkbox-group label::before{
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 4px solid #edf0f2;
    background-color: #edf0f2;
    margin-right: 13px;
}

.checkbox-group input[type=checkbox]:checked + label{
    color: #ff5912;
}

.checkbox-group input[type="checkbox"]:checked + label::before{
    border-color: #ff5912;
}
.subscribe-description .product-title{
    font-family: 'Harmonia_bold';
    font-size: 18px;
}

.subscribe-description span:nth-child(2){
    margin-left: 25px;
    font-size: 14px;
    font-family: 'Harmonia_italic';

}

.subscribe-form{
    padding: 37px 42px;
}


.subscribe-input-group label{
    vertical-align: middle;
    margin-right: 10px;
    max-width: 255px;
}

.subscribe-input{
    color: #7c8791;
    font-size: 14px;
    font-family: 'Harmonia_italic';

}

.new-items .fa-star{
    color: orange;
}

.new-items .offer-img{
    padding: 35px 0;
}

.new-items .offer-description > span{
    font-family: 'Harmonia_bold';
    font-size: 18px;
    display: inline-block;
    margin-bottom: 35px;
}

.best-offer{
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}

.best-add-to-cart{
    opacity: 0;
    position: absolute;
    bottom: 43px;
    right: 80px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 16px;
    font-family: 'Harmonia_semibold';

}

.best-add-to-cart span + span{
    margin-left: 10px;
}

.offer-description:hover .best-add-to-cart{
    opacity: 1;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.offer-description:hover .best-rating-price{
    opacity: 0;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}





/*.best-offer .offer-description::before{*/
    /*content: '';*/
    /*display: block;*/
    /*height: 50px;*/
    /*width: 2px;*/
    /*background: #000;*/
/*}*/

header .top-header{
    border-bottom: 1px solid #edeff1;
    padding: 20px 0;
    background-color: #fff;
}

header .top-header .phones-list li + li{
    margin-left: 20px;
}

header .top-header .phones-list span.custom-icon{
    margin-right: 10px;
}

header .top-header .social-nav{
    font-size: 16px;
}
header .top-header .social-nav a + a{
    margin-left: 17px;
}

header .top-header .social-nav a:hover{
    color: #ff5912;
}
header .bottom-header{
    background-color: #fff;
}

header .bottom-header .logo{
    padding: 40px 0;
}
header .bottom-header .header-nav{
    margin-left: 85px;
    font-size: 16px;
}

header .bottom-header .header-nav li + li{
    margin-left: 40px;
}

header .bottom-header .user-nav{
    margin-left: auto;
}

header .bottom-header .user-nav a + a{
    margin-left: 30px;
}

.items-carousel{
    min-height: 650px;
    background: url("../img/carousel-img-1.jpg") no-repeat center / cover;
    margin-bottom: 60px;
}

footer{
    margin-top: 60px;
}

.footer-logo{
    padding: 90px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer-logo img{
    margin-bottom: 30px;
}

.footer-logo span{
    font-size: 14px;
    font-family: 'Harmonia_regular';

}

.footer-nav{
    width: 50%;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}

.footer-nav li{
    font-family: 'Harmonia_regular';
    margin-bottom: 15px;
    font-size: 14px;
}


.footer-nav ul li::before{
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #000;
    margin-right: 15px;
}

.footer-nav ul li:hover::before{
    background-color: orangered;
}

.paymenth .orange-text{
    display: inline-block;
    font-family: 'Harmonia_bold';
    font-size: 16px;
    margin-bottom: 22px;
}



footer .paymenth .paymenths-method a + a{
    margin-left: 5px;
}
/*MAIN START*/

.items-carousel-description{
    padding: 230px 0;
}


.items-carousel-description p{
    font-family: 'Harmonia_regular';
    font-size: 16px;
    padding: 18px 0 40px 0;
}

.price-wrapper a{
    margin-left: 30px;
}

.price-wrapper a .product-title{
    padding-left: 10px;
}


.item{
    background-color: #fff;
    padding: 30px 10px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    text-align: center;
    height: 372px;
    position: relative;
}

.item:hover{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);

}

.item-description{
    padding: 0 40px;
}

.item .item-title{
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    font-family: 'Harmonia_bold';
    margin: 30px 0;
    font-size: 18px;
    color: #34404b;
}

.item:hover .item-title{
    color: #ff5912;
}

.item:hover .item-price{
    display: none;
}
.item .item-img{
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    height: 216px;
}

.item .item-img img{
    max-height: 100%;
}

.item-price{
    font-family: 'Harmonia_bold';
    font-size: 18px;
}

.item:hover .item-img{
    height: 90px;
}
.more-info-on-hover{
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
    width: 100%;
    padding: 0 50px;

}

.item:hover .more-info-on-hover{
    opacity: 1;

}

.more-info-on-hover .size{
    font-size: 14px;
    color: #34404b;
    margin-bottom: 29px;
}

.more-info-on-hover .colors{
    display: inline-block;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #f2f4f7;
    width: 100%;

}

.more-info-on-hover .colors li{
    display: inline-block;
    width: 13px;
    height: 13px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}

.more-info-on-hover .item-controls{
    padding-top: 30px;
    text-align: center;
}

.more-info-on-hover .item-controls li{
    display: inline-block;
}

.more-info-on-hover .item-controls li + li{
    margin-left: 30px;
}
.load-more{
    padding: 25px 0;
    background-color: #fff;
    margin-top: 80px;
}
.load-more .circle{
    display: inline-block;
    width: 8px;
    height: 8px;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    background-color: orangered;
}

.load-more .circle + .circle{
    margin-left: 3px;
}
/*DEFAULT COMPONENT END*/


/*ALL STALES START*/

.kit{
    padding: 22px 60px;
}

.sales-block{
    position: relative;
}

.sales-block > div{
    display: inline-block;
    width: 50px;
    height: 60px;
}

.sales-block div:first-child{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    left: 0;

}
.sale-basket span:nth-child(2){
    font-size: 32px;
    font-family: 'Harmonia_bold';

}

.sale-basket span:nth-child(3){
    font-size: 22px;
    font-family: 'Harmonia_bold';
}

.sale-basket .custom-icon{
    margin-right: 20px;
}
.offer span{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
}

.offer span:first-child{
    font-size: 22px;
    font-family: 'Harmonia_bold';

}

.offer span + span{
    margin-top: 15px;
}

.adv-area{
    padding: 30px 0;
}

.adv-area span:nth-child(3){
    display: block;
    width: 100%;
    margin-top: 20px;
}
.sales-block div:last-child{
    -webkit-transform: rotate(-45deg) ;
        -ms-transform: rotate(-45deg) ;
            transform: rotate(-45deg) ;
}

.icon-search-ic:hover{
    background-position: -80px 0;
}

.icon-user-ic:hover{
    background-position: 0 -59px;
}

.icon-cart-ic:hover{
    background-position: -20px -59px;

}

.category-wrap{
    padding-top: 120px;
}

.aside-section{
    padding: 40px 40px;
}

.aside-section + .aside-section{
    margin-top: 30px;
}

.aside-section-title{
    font-family: 'Harmonia_bold';
    font-size: 17px;
    color: #ff5912;
    margin-bottom: 35px;
}

.category-wrap .item{
    margin-bottom: 30px;
}

.product-wrap{
    padding: 100px 125px;
    background-color: #fff;
}

.choose-size span{
    margin-right: 40px;
}
.size-radio input[type="radio"]  {
    display: none;
}

.size-radio label{
    font-size: 14px;
    font-family: 'Harmonia_semibold';
    color: #34404b;
    text-transform: uppercase;
    cursor: pointer;
}
.size-radio input[type="radio"]:checked + label{
    color: #ff5912;
    font-size: 18px;
}
.size-radio + .size-radio{
    margin-left: 20px;
}

.order-form{
    padding: 40px 0;
    border-top: 1px solid #edeff1;
    border-bottom: 1px solid #edeff1;
    border-bottom: 1px solid #edeff1;
}


.product-wrap   .order-now{
    margin-top: 60px;
}

.product-wrap{
    margin-bottom: 60px;
}
.product-wrap .order-now .product-title{
    font-size: 20px;
    font-family: 'Harmonia_bold';

}

.product-share{
    margin-left: auto;
    margin-right: 25px;
}

.product-share ul{
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.product-share li + li{
    margin-left: 30px;
}

.product-wrap .items-carousel-description {
    padding: 0;
}

.product-description .items-carousel-description p {
    line-height: 1.5;
}

.product-show .new-items{
    margin-bottom: 0;
}
/*ALL STALES END*/