/*RESET START*/
*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    color: #111;
    font: 12px/1 'Harmonia_regular', sans-serif;
    background-color: #f4f6f8;
}
/*General reset*/
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
img{
    max-width: 100%;
}
a{
    color: #000;
}

a{
    cursor: pointer;
}


 a:focus , a:hover {
    color: #ff5912;
    text-decoration: none;

}

ul{
    margin: 0;
    list-style: none;
    padding: 0;
}
li{
    list-style-type: none;
}
input, select, textarea{
    outline:none;
    border:none;
}
textarea{
    resize:vertical
}
button{
    cursor:pointer;
}
label{
    margin-bottom: 0;
}

.btn{
    outline: none;
}

:focus{
    outline: none;
}
/*RESET END*/

/*DEFAULT CLASSES START*/

.flex-container{

    display: flex;
}

.align-center{

    align-items: center;
}

.justify-sp-bw{
    justify-content: space-between;
}

.orange-text{
    color: #ff5912;
}

.red-bg{
    background-color: red;
}

.black-bg{
    background-color: #000;
}

.blue-bg{
    background-color: blue;
}

.green-bg{
    background-color: green;
}

.white-bg{
    background-color: #fff;
}

.light-orang-bg{
    background-color: #ff9060;
}

.orange-bg{
    background-color: #ff5912;
}

.btn-radius{
    border-radius: 50px;
}

/*DEFAULT CLASSES END*/

/*DEFAULT COMPONENT START*/

.header{
    position: relative;
}

.custom-icon{
    display: inline-block;
}

.title{
    text-transform: uppercase;
    font-family: 'Harmonia_black';
    font-size: 36px;
    margin-bottom: 25px;
}

.title.big{
    font-size: 52px;
}
.user-nav .custom-icon {
    position: relative;
}

.product-title{
    font-family: 'Harmonia_semibold';
    font-size: 18px;
}

.sub-title{
    display: block;
    font-size: 16px;
    color: #495662;
    margin-bottom: 80px;
}


.basket-count{
    display: inline-block;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #000;
    color: #fff;
    position: absolute;
    top: -17px;
    left: 4px;
    text-align: center;
    line-height: 1.5;
}

.default-section{
    padding: 60px 0;
}



.checkbox-group input[type=checkbox]{
    display: none;
}

.checkbox-group label{
    font-size: 16px;
    color: #34404b;
    cursor: pointer;
}

.checkbox-group label::before{
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 4px solid #edf0f2;
    background-color: #edf0f2;
    margin-right: 13px;
}

.checkbox-group input[type=checkbox]:checked + label{
    color: #ff5912;
}

.checkbox-group input[type="checkbox"]:checked + label::before{
    border-color: #ff5912;
}


.subscribe-description .product-title{
    font-family: 'Harmonia_bold';
    font-size: 18px;
}

.subscribe-description span:nth-child(2){
    margin-left: 25px;
    font-size: 14px;
    font-family: 'Harmonia_italic';

}


.subscribe-form{
    padding: 37px 42px;
}


.subscribe-form form{
    flex-grow: .3;
    justify-content: space-between;
}

@media(max-width: 991px){
    .subscribe-form{
        flex-wrap: wrap;
    }
}

.subscribe-input-group label{
    vertical-align: middle;
    margin-right: 10px;
    max-width: 255px;
}

.subscribe-input{
    color: #7c8791;
    font-size: 14px;
    font-family: 'Harmonia_italic';

}

.new-items .fa-star{
    color: orange;
}

.new-items .offer-img{
    padding: 35px 0;
}

.new-items .offer-description > span{
    font-family: 'Harmonia_bold';
    font-size: 18px;
    display: inline-block;
    margin-bottom: 35px;
}

.best-offer{
    justify-content: space-around;
}

.best-add-to-cart{
    opacity: 0;
    position: absolute;
    bottom: 43px;
    right: 80px;
    align-items: flex-end;
    font-size: 16px;
    font-family: 'Harmonia_semibold';

}

.best-add-to-cart span + span{
    margin-left: 10px;
}

.offer-description:hover .best-add-to-cart{
    opacity: 1;
    transition: all .3s linear;
}

.offer-description:hover .best-rating-price{
    opacity: 0;
    transition: all .3s linear;
}

@media(max-width: 991px){
    .new-items .best-offer:first-child{
        margin-bottom: 20px;
    }
}

header .top-header{
    border-bottom: 1px solid #edeff1;
    padding: 20px 0;
}

header .top-header .phones-list li + li{
    margin-left: 20px;
}

header .top-header .phones-list span.custom-icon{
    margin-right: 10px;
}

header .top-header .social-nav{
    font-size: 16px;
}
header .top-header .social-nav a + a{
    margin-left: 17px;
}

header .top-header .social-nav a:hover{
    color: #ff5912;
}

header .bottom-header .logo{
    padding: 40px 0;
}
header .bottom-header .header-nav{
    margin-left: 85px;
    font-size: 16px;
}

header .bottom-header .header-nav li + li{
    margin-left: 40px;
}

header .bottom-header .user-nav{
    margin-left: auto;
}

@media(max-width: 991px){
    header .bottom-header .user-nav{
        margin: 0;
    }
}

header .bottom-header .user-nav a + a{
    margin-left: 30px;
}


@media(max-width: 991px){
    header .bottom-header .header-nav{
        display: none;
    }

    .slicknav_menu{
        display: block;
    }
}

@media(max-width: 991px){
    header .bottom-header .header-nav {
        justify-content: space-between;
    }
}

.items-carousel{
    min-height: 650px;
    background: url("../img/carousel-img-1.jpg") no-repeat center / cover;
    margin-bottom: 60px;
}

footer{
    margin-top: 60px;
}

.footer-logo{
    padding: 90px 0;
    flex-direction: column;
}

.footer-logo img{
    margin-bottom: 30px;
}

.footer-logo span{
    font-size: 14px;
    font-family: 'Harmonia_regular';

}

.footer-nav{
    width: 50%;
    justify-content: space-around;
}

.footer-nav li{
    font-family: 'Harmonia_regular';
    margin-bottom: 15px;
    font-size: 14px;
}


.footer-nav ul li::before{
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #000;
    margin-right: 15px;
}

.footer-nav ul li:hover::before{
    background-color: orangered;
}

.paymenth .orange-text{
    display: inline-block;
    font-family: 'Harmonia_bold';
    font-size: 16px;
    margin-bottom: 22px;
}



footer .paymenth .paymenths-method a + a{
    margin-left: 5px;
}


@media(max-width: 991px){
    .footer-logo{
        padding: 40px 0;
    }

    .footer-nav{
        width: 60%;
    }
    .footer-wrap{
        flex-wrap: wrap;
    }
    .paymenth{
        width: 100%;
        text-align: end;
        padding-bottom: 45px;
    }
}

@media(max-width: 767px){
    .footer-wrap{
        flex-direction: column;

    }
    .footer-logo{
        text-align: center;
    }

    .footer-nav{
        width: 100%;
        padding-bottom: 35px;
    }
    .paymenth{
        text-align: center;
    }
}
/*MAIN START*/

.items-carousel-description{
    padding: 230px 0;
}


.items-carousel-description p{
    font-family: 'Harmonia_regular';
    font-size: 16px;
    padding: 18px 0 40px 0;
}

.price-wrapper a{
    margin-left: 30px;
}

.price-wrapper a .product-title{
    padding-left: 10px;
}


.item{
    background-color: #fff;
    padding: 30px 10px;
    transition: all .3s linear;
    text-align: center;
    height: 372px;
    position: relative;
}

.item:hover{
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);

}

.item-description{
    padding: 0 40px;
}



.item .item-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Harmonia_bold';
    margin: 30px 0;
    font-size: 18px;
    color: #34404b;
}

.item:hover .item-title{
    color: #ff5912;
}

.item:hover .item-price{
    display: none;
}
.item .item-img{
    transition: all .2s linear;
    height: 216px;
}

.item .item-img img{
    max-height: 100%;
}

.item-price{
    font-family: 'Harmonia_bold';
    font-size: 18px;
}

.item:hover .item-img{
    height: 90px;
}
.more-info-on-hover{
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .4s linear;
    width: 100%;
    padding: 0 50px;

}

.item:hover .more-info-on-hover{
    opacity: 1;

}

.more-info-on-hover .size{
    font-size: 14px;
    color: #34404b;
    margin-bottom: 29px;
}

.more-info-on-hover .colors{
    display: inline-block;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #f2f4f7;
    width: 100%;

}

.more-info-on-hover .colors li{
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
}

.more-info-on-hover .item-controls{
    padding-top: 30px;
    text-align: center;
}

.more-info-on-hover .item-controls li{
    display: inline-block;
}

.more-info-on-hover .item-controls li + li{
    margin-left: 30px;
}
.load-more.btn{
    width: 100%;
    padding: 25px 0;
    background-color: #fff;
    margin-top: 80px;
}
.load-more .circle{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: orangered;
}

.load-more .circle + .circle{
    margin-left: 3px;
}

@media (max-width: 1199px){
    .item-description .more-info-on-hover{
        padding: 0;
    }
}

@media(max-width: 991px){
    .item {
        margin-top: 30px;
    }
}
/*DEFAULT COMPONENT END*/


/*ALL STALES START*/

.kit{
    padding: 20px 60px;
}

.sales-block{
    position: relative;
}

.sales-block > div{
    display: inline-block;
    width: 50px;
    height: 60px;
}

.sale-text{
    position: absolute;
    left: 12%;
}

.sale-text span{
    display: block;
    color: #fff;
}

.sale-text span:last-child{
    font-family: 'Harmonia_bold';
    font-size: 20px;
}
.sales-block div:first-child{
    transform: rotate(45deg);
    position: absolute;
    left: 0;

}

.sales-block div:last-child{
    transform: rotate(-45deg) ;
}


.sale-basket{
    position: relative;
}

.sale-basket span:nth-child(2){
    font-size: 32px;
    font-family: 'Harmonia_bold';

}

.sale-basket span:nth-child(3){
    font-size: 22px;
    font-family: 'Harmonia_bold';
}

.sale-basket .custom-icon{
    margin-right: 20px;
}

.sale-basket:before{
    content: '';
    display: block;
    width: 1px;
    height: 45px;
    background: #f0f2f3;
    position: absolute;
    left: -30%;
    top: -10px;
}


@media(max-width: 991px){
    .sale-basket:before{
        left: -25%;
    }
}

.offer span{
    display: flex;
    flex-shrink: 1;
}

.offer span:first-child{
    font-size: 22px;
    font-family: 'Harmonia_bold';

}

.offer span + span{
    margin-top: 15px;
}

.adv-area{
    padding: 30px 0;
}

.adv-area span:nth-child(3){
    display: block;
    width: 100%;
    margin-top: 19px;
}


@media (max-width: 1199px) {
    .sale-text{
        left: 8%;
    }

}


@media(max-width: 991px){
    .sale-text{
        left: 10%;
    }
}

@media(max-width: 767px){
    .sale-text{
        left: 12%;
    }
}

@media(max-width: 1199px){
    .kit{
        padding: 20px 20px;
    }
}


@media(max-width: 991px){
    .kit{
        /*padding: 22px 50px;*/
        justify-content: space-around;
    }
}

@media(max-width: 767px){
    .kit{
        margin-bottom: 20px;
        justify-content: space-around;
    }
}
.icon-search-ic:hover{
    background-position: -80px 0;
}

.icon-user-ic:hover{
    background-position: 0 -59px;
}

.icon-cart-ic:hover{
    background-position: -20px -59px;

}

.category-wrap{
    padding-top: 120px;
}

.mobile-siderbar-btn{
    font-size: 30px;
    color: #ff5912;
    display: none;
    margin-bottom: 20px;
}

.aside-section{
    padding: 40px 40px;
}

.aside-section + .aside-section{
    margin-top: 30px;
}

.aside-section-title{
    font-family: 'Harmonia_bold';
    font-size: 17px;
}

.aside-section-title > span{
    color: #FF5912;
    font-family: 'Harmonia_bold';
    font-size: 18px;

}

.aside-section-title .checkbox-group{
    margin-top: 40px;
}

.aside-section-title .choose-sex li{
    margin-top: 40px;
    font-size: 18px;
}
.category-wrap .item{
    margin-bottom: 30px;
}

.product-wrap{
    padding: 100px 125px;
    background-color: #fff;
}

.choose-size span{
    margin-right: 40px;
}

.quantity{
    position: relative;
}
.quantity:before{
    content: '';
    display: block;
    width: 1px;
    height: 26px;
    background: #f0f2f3;
    position: absolute;
    left: -75%;
}
.size-radio input[type="radio"]  {
    display: none;
}

.size-radio label{
    font-size: 14px;
    font-family: 'Harmonia_semibold';
    color: #34404b;
    text-transform: uppercase;
    cursor: pointer;
}
.size-radio input[type="radio"]:checked + label{
    color: #ff5912;
    font-size: 18px;
}
.size-radio + .size-radio{
    margin-left: 20px;
}

.order-form{
    padding: 40px 0;
    border-top: 1px solid #edeff1;
    border-bottom: 1px solid #edeff1;
    border-bottom: 1px solid #edeff1;
}


.product-wrap   .order-now{
    margin-top: 60px;
}

.product-wrap{
    margin-bottom: 60px;
}
.product-wrap .order-now .product-title{
    font-size: 20px;
    font-family: 'Harmonia_bold';

}

.category-wrap .load-more{
    margin-top: 0;
}

@media(max-width: 991px){

    .mobile-siderbar-btn{
        display: inline-block;
        z-index: 99;
        position: relative;
    }

    main.show .mobile-siderbar-btn i{
        transform: rotate(-180deg);
        transition: all .3s linear;
    }

    .mobile-siderbar-wrap{
        position: absolute;
        transform: translateX(-110%);
        transition: all .3s linear;
        z-index: 99;
    }

    .overlay{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0;
    }
    main.show .mobile-siderbar-wrap{
        transform: translateX(0);
        left: 0;
        right: 0;
    }
    main.show .overlay{
        z-index: 98;
        opacity: 1;
        background-color: rgba(0, 0, 0, .4);
    }
}

.product-share{
    margin-left: auto;
    margin-right: 25px;
}

.product-share ul{
    align-items: flex-end;
}

.product-share li + li{
    margin-left: 30px;
}

.product-wrap .items-carousel-description {
    padding: 0;
}

.product-description .items-carousel-description p {
    line-height: 1.5;
}

.product-show .new-items{
    margin-bottom: 0;
}
/*ALL STALES END*/


/*RANGE STYLE*/

.range{
    margin-top: 80px;
}

.ui-widget.ui-widget-content{
    border: 1px solid #000;
    height: 0;
}


.ui-slider-horizontal .ui-slider-handle{
    background-color: #000;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    top: -7px;

}

.ui-slider-horizontal .ui-slider-handle span{
    position: absolute;
    top: -29px;
    left: -10px;
}
.add-range-value{
    margin-top: 30px;
}
.range .range-input-reoup input{
    background-color: #dfdfdf3d;
    width: 40px;
    border: 0;
}

.add-range-value{
    margin-top: 30px;
}

.range .range-input-reoup label{
    margin-right: 5px;
}

#fromValue{
    margin-right: 20px ;
}

.item-flexslider{
    position: relative;
    left: 10%;
}

.product-carousel .flexslider .flex-control-nav{
    transform: rotate(0);
}

.flex-control-paging{
    left: -9%;
}
/*RANGE STYLE FINISH*/